@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
	outline:0;
}
body {
    
	background :linear-gradient(120deg,#2980b9,#8e44ad);
	
}
.navbar{
	position:fixed;
	width:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.4);
	overflow:hidden;
}
.navbar ul{
	float: left;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #2691d9;
	border-radius: 2px;
}

.container{
	margin-top:100px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	font-family:montserrat;
	
	height:100vh;
	overflow-x: scroll;
	
}

.container h2{	
	color: white;
	font-size: 30px;
	font-weight: 700;
	margin-top:10px;	
	text-align: center;
	box-sizing: border-box;
	
}
.container p{
	color: white;
	font-size: 20px;
	margin-top: 20px;	
	text-align: center;
}


table{
    width: 60%;
    max-width: 100%;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
	border-spacing:0;
	box-sizing:0;
	
	border-collapse:collapse;
	
	box-shadow:0 2px 12px rgba(32,32,32,.3);
	background :#fafafa;
	
}
.table h3 {
	color: white;
	font-size: 25px;
	margin-top:25px;	
	text-align: center;
}
th,td{
	padding:12px 15px;
}

th{
	background:#2691d9;
	color:#fafafa;
	text-transform:uppercase;
	font-family:'Open Sans',sans-serif;
}
td {
	font-family:'Open Sans',sans-serif;
	
}
tr:nth-child(odd){
	background-color:#eeeeee;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #2691d9;
    color: #e0f4fb;
    border:1px solid;
    width :100%;
	height:50px;
	font-weight:700;
    
}
