@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
	outline:0;
}

.container{
	margin:0;
	padding:0;
	font-family:montserrat;
	background :linear-gradient(120deg,#2980b9,#8e44ad);
	height:100vh;
	overflow:hidden;
}
.container h2{
	
	color: white;
	font-size: 50px;
	margin-bottom:40px;	
	text-align: center;
	
}
.container p{
	color: white;
	font-size: 30px;
	margin-top: 10px;	
	text-align: center;
}
.container p{
	color: white;
	font-size: 30px;
	margin-top: 50px;	
	text-align: center;
}


table{
	position:absolute;
	z-index:2;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:60%;
	border-collapse:collapse;
	border-radius:12px 12px 0 0;
	overflow:hidden;
	box-shadow:0 2px 12px rgba(32,32,32,.3);
	background :#fafafa;
	text-align:center;
}
th,td{
	padding:12px 15px;
}

th{
	background:#2691d9;
	color:#fafafa;
	text-transform:uppercase;
	font-family:'Open Sans',sans-serif;
}
td {
	font-family:'Open Sans',sans-serif;
	
}
tr:nth-child(odd){
	background-color:#eeeeee;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #2691d9;
    color: #e0f4fb;
    border:1px solid;
    width :100%;
	height:50px;
	font-weight:700;
    
}
