@charset "ISO-8859-1";
*{
	padding:0;
	margin:0;
}
.wrapper {
	margin:0;
	padding:0;
	font-family:montserrat;
	background :linear-gradient(120deg,#2980b9,#8e44ad);
	height:100vh;
	overflow:hidden;
}
.navbar{
	position:fixed;
	height:80px;
	width:100%;
	top:0;
	left:0;
	background:rgba(0,0,0,0.4);
}
.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #2691d9;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: white;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h2{
	color: white;
	font-size: 50px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .bookFlights{
	margin: 35px 280px;
}
.bookFlights button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #e9f4fb;
	background: #2691d9;
	outline: none;
	cursor: pointer;
	border: 1px solid ;
	border-radius: 25px;
	transition: .4s;
}
.bookFlights .adminpage{
	margin-left: 25px;
}
.buttons button:hover{
	background: #cc0000;
}
